name: build-latest
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
      - '**/.vscode/**'

permissions:
  contents: read
  packages: write
  id-token: write

concurrency:
  # only run one build at a time
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build-image:
    name: Build Images
    uses: ./.github/workflows/reusable-build.yml
    secrets: inherit
    strategy:
      fail-fast: false
      matrix:
        image: [base, work]
    with:
      base_name: ${{ matrix.image }}
      image_tag: latest
